<h2>Contacts</h2>

<button type="submit" (click)="onCreateNew()">Create New</button>
<br/>

<ul class="contact-list">
  <li
    *ngFor="let contact of contacts"
    [class.selected]="contact === selectedContact"
    class="contact"
  >
    <span (click)="onSelectContact(contact)">{{contact.name}} {{contact.phoneNumber | phone}}</span>
    <button type="submit" (click)="onDeleteContact(contact)">Delete</button>
  </li>
</ul>

<div *ngIf="createNew">
  <app-create-contact (created)="onContactsChanged()"></app-create-contact>
</div>

<app-update-contact
  [selectedContact]="selectedContact"
  (updated)="onContactsChanged()">
</app-update-contact>
