ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: #8842d5;
  display: inline-block;
  height: 50px;
}

li {
  float: right;
}

li a {
  display: block;
  color: white;
  padding: 14px 17px;
  text-decoration: none;
}

/* When the link is hovered on, its color will change */
li a:hover {
  background-color: #7300ff;
  color: black;
}

.active {
  background-color: #7300ff;
  color: black;
}
